{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@firefly-admin/(.*)$",
    "^~(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "classProperties",
    "decorators-legacy"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "printWidth": 140,
        "singleQuote": false
      }
    },
    {
      "files": [
        "*.scss",
        ".css"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}